[global]
   workgroup = WORKGROUP
   server string = Motoko File Server
   security = user
   map to guest = Bad User
   dns proxy = no
   log file = /var/log/samba/log.%m
   max log size = 1000
   logging = file
   panic action = /usr/share/samba/panic-action %d

   # Time Machine Optimization
   vfs objects = fruit streams_xattr
   fruit:metadata = stream
   fruit:model = MacSamba
   fruit:posix_rename = yes
   fruit:veto_appledouble = no
   fruit:nfs_aces = no
   fruit:wipe_intentionally_left_blank_rfork = yes
   fruit:delete_empty_adfiles = yes

[time]
   path = {{ usb_timemachine_mount }}
   valid users = {{ ansible_user | default('mdt') }}
   writable = yes
   durable handles = yes
   kernel oplocks = no
   kernel share modes = no
   posix locking = no
   vfs objects = catia fruit streams_xattr
   fruit:time machine = yes
   fruit:time machine max size = 8T
   ea support = yes
   inherit acls = yes
   browsable = yes
   guest ok = no

[space]
   path = {{ usb_space_mount }}
   valid users = {{ ansible_user | default('mdt') }}
   writable = yes
   browsable = yes
   guest ok = no
   create mask = 0644
   directory mask = 0755

[flux]
   path = /flux
   valid users = {{ ansible_user | default('mdt') }}
   writable = yes
   browsable = yes
   guest ok = no
   create mask = 0644
   directory mask = 0755

