{
    "layer": "top",
    "position": "top",
    "height": 24,
    "spacing": 4,

    "modules-left": ["sway/workspaces", "sway/mode"],
    "modules-center": ["clock"],
    "modules-right": ["network", "cpu", "memory", "battery", "tray"],

    "sway/workspaces": {
        "disable-scroll": false,
        "all-outputs": true,
        "format": "{name}"
    },

    "sway/mode": {
        "format": "<span style=\"italic\">{}</span>"
    },

    "clock": {
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format": "{:%H:%M}",
        "format-alt": "{:%Y-%m-%d}"
    },

    "cpu": {
        "format": "CPU {usage}%",
        "tooltip": true,
        "interval": 5
    },

    "memory": {
        "format": "MEM {}%",
        "interval": 5
    },

    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "BAT {capacity}%",
        "format-charging": "CHG {capacity}%",
        "format-plugged": "AC {capacity}%",
        "format-alt": "{time}"
    },

    "network": {
        "format-wifi": "WIFI {signalStrength}%",
        "format-ethernet": "ETH",
        "format-linked": "(No IP)",
        "format-disconnected": "DISC",
        "tooltip-format": "{ifname}: {ipaddr}"
    },

    "tray": {
        "spacing": 10
    }
}
