[defaults]
inventory = inventory/hosts.yml
roles_path = roles
host_key_checking = False
# Credentials are in Azure Key Vault (AKV), not Ansible vault
# vault_password_file = /etc/ansible/.vault-pass.txt
